In [21]:
import pandas as pd
df=pd.read_csv("C:\\Users\\jojic\\OneDrive\\Desktop\\mljourney\\pandas-works\\world-famous\\world_famous_places_2024.csv")
print(df.head())
print(df.columns)
df.isnull().sum()

            Place_Name        Country              City  \
0         Eiffel Tower         France             Paris
1         Times Square  United States     New York City
2        Louvre Museum         France             Paris
3  Great Wall of China          China  Beijing/Multiple
4            Taj Mahal          India              Agra

   Annual_Visitors_Millions                Type UNESCO_World_Heritage  \
0                       7.0      Monument/Tower                    No
1                      50.0      Urban Landmark                    No
2                       8.7              Museum                   Yes
3                      10.0   Historic Monument                   Yes
4                       7.5  Monument/Mausoleum                   Yes

         Year_Built  Entry_Fee_USD   Best_Visit_Month          Region  \
0              1889             35  May-June/Sept-Oct  Western Europe
1              1904              0  Apr-June/Sept-Nov   North America
2              1793             22          Oct-March  Western Europe
3  220 BC - 1644 AD             10   Apr-May/Sept-Oct       East Asia
4              1653             15          Oct-March      South Asia

   Tourism_Revenue_Million_USD  Average_Visit_Duration_Hours  \
0                           95                           2.5
1                           70                           1.5
2                          120                           4.0
3                          180                           4.0
4                           65                           2.0

                                          Famous_For
0         Iconic iron lattice tower, symbol of Paris
1  Bright lights, Broadway shows, New Year's Eve ...
2     World's most visited museum, home to Mona Lisa
3     Ancient defensive structure visible from space
4             White marble mausoleum, symbol of love
Index(['Place_Name', 'Country', 'City', 'Annual_Visitors_Millions', 'Type',
       'UNESCO_World_Heritage', 'Year_Built', 'Entry_Fee_USD',
       'Best_Visit_Month', 'Region', 'Tourism_Revenue_Million_USD',
       'Average_Visit_Duration_Hours', 'Famous_For'],
      dtype='object')

Place_Name                      0
Country                         0
City                            0
Annual_Visitors_Millions        0
Type                            0
UNESCO_World_Heritage           0
Year_Built                      0
Entry_Fee_USD                   0
Best_Visit_Month                0
Region                          0
Tourism_Revenue_Million_USD     0
Average_Visit_Duration_Hours    0
Famous_For                      0
dtype: int64

In [22]:
df["Type"].unique()

array(['Monument/Tower', 'Urban Landmark', 'Museum', 'Historic Monument',
       'Monument/Mausoleum', 'Monument/Statue', 'Cultural Building',
       'Archaeological Site', 'Historic Palace', 'Temple Complex',
       'Cathedral', 'Park', 'Entertainment District', 'Skyscraper',
       'Bridge', 'Monument/Memorial', 'Theme Park', 'Natural Wonder',
       'Historic Tower', 'Clock Tower', 'Palace'], dtype=object)

In [23]:
df[df["UNESCO_World_Heritage"]=="Yes"]

,Place_Name,Country,City,Annual_Visitors_Millions,Type,UNESCO_World_Heritage,Year_Built,Entry_Fee_USD,Best_Visit_Month,Region,Tourism_Revenue_Million_USD,Average_Visit_Duration_Hours,Famous_For
2,Louvre Museum,France,Paris,8.70,Museum,Yes,1793,22,Oct-March,Western Europe,120,4.0,"World's most visited museum, home to Mona Lisa"
3,Great Wall of China,China,Beijing/Multiple,10.00,Historic Monument,Yes,220 BC - 1644 AD,10,Apr-May/Sept-Oct,East Asia,180,4.0,Ancient defensive structure visible from space
4,Taj Mahal,India,Agra,7.50,Monument/Mausoleum,Yes,1653,15,Oct-March,South Asia,65,2.0,"White marble mausoleum, symbol of love"
5,Colosseum,Italy,Rome,7.65,Historic Monument,Yes,80,18,Apr-May/Sept-Oct,Southern Europe,85,2.5,Ancient Roman amphitheater for gladiator battles
6,Statue of Liberty,United States,New York City,4.30,Monument/Statue,Yes,1886,25,May-Sept,North America,45,2.0,Symbol of freedom and democracy
7,Sydney Opera House,Australia,Sydney,8.20,Cultural Building,Yes,1973,49,Sept-Nov,Oceania,110,1.5,"Unique sail-like design, performing arts center"
8,Machu Picchu,Peru,Cusco Region,1.50,Archaeological Site,Yes,1450,70,Apr-Oct,South America,180,8.0,Ancient Incan citadel in the Andes mountains
9,Forbidden City,China,Beijing,9.00,Historic Palace,Yes,1420,8,Apr-May/Sept-Oct,East Asia,75,3.0,Imperial palace of Ming and Qing dynasties
10,Angkor Wat,Cambodia,Siem Reap,2.60,Temple Complex,Yes,1150,37,Nov-Feb,Southeast Asia,90,6.0,"Largest religious monument, Hindu-Buddhist temple"
11,Notre-Dame Cathedral,France,Paris,13.00,Cathedral,Yes,1345,0,Apr-June/Sept-Oct,Western Europe,50,1.0,"Gothic masterpiece, medieval Catholic cathedral"
17,Sagrada Familia,Spain,Barcelona,4.70,Cathedral,Yes,Under Construction (Started 1882),26,Apr-June/Sept-Oct,Southern Europe,130,2.0,"Gaudí's unfinished basilica, unique architecture"
20,Grand Canyon,United States,Arizona,6.00,Natural Wonder,Yes,Natural Formation,35,March-May/Sept-Nov,North America,780,5.0,Massive canyon carved by Colorado River
21,Great Pyramid of Giza,Egypt,Cairo,2.80,Historic Monument,Yes,2550,20,Oct-Apr,North Africa,40,3.0,"Only remaining ancient wonder, pharaoh's tomb"
22,Leaning Tower of Pisa,Italy,Pisa,5.00,Historic Tower,Yes,1372,20,Apr-May/Sept-Oct,Southern Europe,55,1.5,"Tilted bell tower, architectural anomaly"
23,Palace of Versailles,France,Versailles,7.70,Historic Palace,Yes,1682,21,Apr-June/Sept-Oct,Western Europe,180,4.0,"Opulent royal residence, Hall of Mirrors"
24,Acropolis,Greece,Athens,4.00,Archaeological Site,Yes,447,13,Apr-May/Sept-Oct,Southern Europe,60,3.0,"Ancient citadel, Parthenon temple"
26,Big Ben,United Kingdom,London,5.50,Clock Tower,Yes,1859,0,Apr-June/Sept-Oct,Western Europe,65,0.5,"Clock tower, Westminster Palace"

In [24]:
df.groupby("Country")["Tourism_Revenue_Million_USD"].sum().idxmax()

'United States'

In [25]:
df.groupby("City")["Annual_Visitors_Millions"].mean()

City
Agra                 7.500000
Anaheim             16.000000
Arizona              6.000000
Athens               4.000000
Barcelona            4.700000
Beijing              9.000000
Beijing/Multiple    10.000000
Cairo                2.800000
Cusco Region         1.500000
Dubai                6.000000
Las Vegas           41.700000
London               9.100000
New York City       25.225000
Orlando             17.000000
Paris                9.566667
Pisa                 5.000000
Rio de Janeiro       2.200000
Rome                 7.650000
San Francisco       15.000000
Siem Reap            2.600000
Sydney               8.200000
Versailles           7.700000
Washington D.C.      8.500000
Name: Annual_Visitors_Millions, dtype: float64

In [26]:
df[df["Year_Built"]==df["Year_Built"].min()]

,Place_Name,Country,City,Annual_Visitors_Millions,Type,UNESCO_World_Heritage,Year_Built,Entry_Fee_USD,Best_Visit_Month,Region,Tourism_Revenue_Million_USD,Average_Visit_Duration_Hours,Famous_For
10,Angkor Wat,Cambodia,Siem Reap,2.6,Temple Complex,Yes,1150,37,Nov-Feb,Southeast Asia,90,6.0,"Largest religious monument, Hindu-Buddhist temple"