In [44]:
import pandas as pd
import numpy as np
import seaborn as sns
df=pd.read_csv("C:\\Users\\jojic\\OneDrive\\Desktop\\mljourney\\main-works\\customer-casestudy\\customer_data_cleaning_eda.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         1020 non-null   int64
 1   Country            1020 non-null   object
 2   Age                931 non-null    float64
 3   Gender             971 non-null    object
 4   Salary             922 non-null    float64
 5   Purchased          1020 non-null   object
 6   SpendingScore      1020 non-null   int64
 7   VisitsPerMonth     1020 non-null   int64
 8   SatisfactionScore  875 non-null    float64
 9   JoinDate           1020 non-null   object
 10  Churn              1020 non-null   int64
dtypes: float64(3), int64(4), object(4)
memory usage: 87.8+ KB

In [45]:
df.isnull().sum()

CustomerID             0
Country                0
Age                   89
Gender                49
Salary                98
Purchased              0
SpendingScore          0
VisitsPerMonth         0
SatisfactionScore    145
JoinDate               0
Churn                  0
dtype: int64

In [46]:
df.head()

,CustomerID,Country,Age,Gender,Salary,Purchased,SpendingScore,VisitsPerMonth,SatisfactionScore,JoinDate,Churn
0,1,Italy,29.0,Male,60000.0,No,59,2,1.0,2019-09-15,0
1,2,India,61.0,Male,31000.0,Yes,5,3,NaN,2020-09-14,0
2,3,Germany,53.0,Female,54000.0,Yes,51,1,2.0,2020-03-13,1
3,4,India,65.0,Female,NaN,Yes,21,7,2.0,2019-06-19,0
4,5,India,21.0,Male,84000.0,Yes,12,5,4.0,2018-10-29,0

In [47]:
df.columns
df_copy=df.copy()

In [48]:
#fixin nulls
df_copy.fillna({"Age":df_copy["Age"].median()},inplace=True)
df_copy.fillna({"Salary":df_copy["Salary"].mean()},inplace=True)
df_copy.fillna({"Gender":"unknown"},inplace=True)
df_copy.fillna({"SatisfactionScore":df_copy["SatisfactionScore"].mode()[0]},inplace=True)

In [49]:
df_copy.isnull().sum()

CustomerID           0
Country              0
Age                  0
Gender               0
Salary               0
Purchased            0
SpendingScore        0
VisitsPerMonth       0
SatisfactionScore    0
JoinDate             0
Churn                0
dtype: int64

In [50]:
df_copy[df_copy["CustomerID"].duplicated()].shape

(20, 11)

In [51]:
df_copy=df_copy.drop_duplicates(subset=["CustomerID"],keep="first")

In [52]:
df_copy[df_copy["CustomerID"].duplicated()].shape

(0, 11)

In [53]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         1000 non-null   int64
 1   Country            1000 non-null   object
 2   Age                1000 non-null   float64
 3   Gender             1000 non-null   object
 4   Salary             1000 non-null   float64
 5   Purchased          1000 non-null   object
 6   SpendingScore      1000 non-null   int64
 7   VisitsPerMonth     1000 non-null   int64
 8   SatisfactionScore  1000 non-null   float64
 9   JoinDate           1000 non-null   object
 10  Churn              1000 non-null   int64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB

In [54]:
df_copy["JoinDate"]=pd.to_datetime(df_copy["JoinDate"])
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         1000 non-null   int64
 1   Country            1000 non-null   object
 2   Age                1000 non-null   float64
 3   Gender             1000 non-null   object
 4   Salary             1000 non-null   float64
 5   Purchased          1000 non-null   object
 6   SpendingScore      1000 non-null   int64
 7   VisitsPerMonth     1000 non-null   int64
 8   SatisfactionScore  1000 non-null   float64
 9   JoinDate           1000 non-null   datetime64[ns]
 10  Churn              1000 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(4), object(3)
memory usage: 93.8+ KB

In [55]:
df_copy.to_csv("C:\\Users\\jojic\\OneDrive\\Desktop\\mljourney\\main-works\\customer-casestudy\\cleaned_customer_data.csv")