In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [30]:
df=pd.read_csv("C:\\Users\\jojic\\OneDrive\\Desktop\\mljourney\\cleaning-works\\delhi-casestudy\\delhi_ncr_aqi_dataset.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201664 entries, 0 to 201663
Data columns (total 25 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   datetime      201664 non-null  object
 1   date          201664 non-null  object
 2   year          201664 non-null  int64
 3   month         201664 non-null  int64
 4   day           201664 non-null  int64
 5   hour          201664 non-null  int64
 6   day_of_week   201664 non-null  object
 7   is_weekend    201664 non-null  int64
 8   season        201664 non-null  object
 9   city          201664 non-null  object
 10  station       201664 non-null  object
 11  latitude      201664 non-null  float64
 12  longitude     201664 non-null  float64
 13  pm25          201664 non-null  float64
 14  pm10          201664 non-null  float64
 15  no2           201664 non-null  float64
 16  so2           201664 non-null  float64
 17  co            201664 non-null  float64
 18  o3            201664 non-null  float64
 19  temperature   201664 non-null  float64
 20  humidity      201664 non-null  int64
 21  wind_speed    201664 non-null  float64
 22  visibility    201664 non-null  float64
 23  aqi           201664 non-null  int64
 24  aqi_category  201664 non-null  object
dtypes: float64(11), int64(7), object(7)
memory usage: 38.5+ MB

In [31]:
df.head()

,datetime,date,year,month,day,hour,day_of_week,is_weekend,season,city,...,no2,so2,co,o3,temperature,humidity,wind_speed,visibility,aqi,aqi_category
0,2020-01-01 06:00:00,2020-01-01,2020,1,1,6,Wednesday,0,winter,Delhi,...,119.6,47.7,5.19,12.3,9.4,100,3.6,1.2,500,Severe
1,2020-01-01 12:00:00,2020-01-01,2020,1,1,12,Wednesday,0,winter,Delhi,...,117.9,39.3,4.32,15.8,20.6,50,5.9,1.4,500,Severe
2,2020-01-01 18:00:00,2020-01-01,2020,1,1,18,Wednesday,0,winter,Delhi,...,150.1,36.3,7.13,14.3,12.4,56,4.5,1.1,500,Severe
3,2020-01-01 23:00:00,2020-01-01,2020,1,1,23,Wednesday,0,winter,Delhi,...,142.0,30.3,4.90,13.2,14.4,48,5.8,1.4,500,Severe
4,2020-01-01 06:00:00,2020-01-01,2020,1,1,6,Wednesday,0,winter,Delhi,...,138.4,41.5,7.56,15.4,6.8,100,2.8,0.4,500,Severe

In [32]:
df.columns

Index(['datetime', 'date', 'year', 'month', 'day', 'hour', 'day_of_week',
       'is_weekend', 'season', 'city', 'station', 'latitude', 'longitude',
       'pm25', 'pm10', 'no2', 'so2', 'co', 'o3', 'temperature', 'humidity',
       'wind_speed', 'visibility', 'aqi', 'aqi_category'],
      dtype='object')

In [33]:
df.drop(columns="datetime",inplace=True)
df.drop(columns="date",inplace=True)

In [35]:
df["day_of_week"].unique()

array(['Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday',
       'Tuesday'], dtype=object)

In [36]:
df["day_of_week"]=df["day_of_week"].map({"Sunday":1,"Monday":2,"Tuesday":3,"Wednesday":4,"Thursday":5,"Friday":6,"Saturday":7})
df.head()

,year,month,day,hour,day_of_week,is_weekend,season,city,station,latitude,...,no2,so2,co,o3,temperature,humidity,wind_speed,visibility,aqi,aqi_category
0,2020,1,1,6,4,0,winter,Delhi,"Anand Vihar, Delhi",28.6469,...,119.6,47.7,5.19,12.3,9.4,100,3.6,1.2,500,Severe
1,2020,1,1,12,4,0,winter,Delhi,"Anand Vihar, Delhi",28.6469,...,117.9,39.3,4.32,15.8,20.6,50,5.9,1.4,500,Severe
2,2020,1,1,18,4,0,winter,Delhi,"Anand Vihar, Delhi",28.6469,...,150.1,36.3,7.13,14.3,12.4,56,4.5,1.1,500,Severe
3,2020,1,1,23,4,0,winter,Delhi,"Anand Vihar, Delhi",28.6469,...,142.0,30.3,4.90,13.2,14.4,48,5.8,1.4,500,Severe
4,2020,1,1,6,4,0,winter,Delhi,"Jahangirpuri, Delhi",28.7299,...,138.4,41.5,7.56,15.4,6.8,100,2.8,0.4,500,Severe

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201664 entries, 0 to 201663
Data columns (total 23 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          201664 non-null  int64
 1   month         201664 non-null  int64
 2   day           201664 non-null  int64
 3   hour          201664 non-null  int64
 4   day_of_week   201664 non-null  int64
 5   is_weekend    201664 non-null  int64
 6   season        201664 non-null  object
 7   city          201664 non-null  object
 8   station       201664 non-null  object
 9   latitude      201664 non-null  float64
 10  longitude     201664 non-null  float64
 11  pm25          201664 non-null  float64
 12  pm10          201664 non-null  float64
 13  no2           201664 non-null  float64
 14  so2           201664 non-null  float64
 15  co            201664 non-null  float64
 16  o3            201664 non-null  float64
 17  temperature   201664 non-null  float64
 18  humidity      201664 non-null  int64
 19  wind_speed    201664 non-null  float64
 20  visibility    201664 non-null  float64
 21  aqi           201664 non-null  int64
 22  aqi_category  201664 non-null  object
dtypes: float64(11), int64(8), object(4)
memory usage: 35.4+ MB

In [38]:
df.to_csv("C:\\Users\\jojic\\OneDrive\\Desktop\\mljourney\\cleaning-works\\delhi-casestudy\\delhi_cleaned.csv")